/GestionMagasin-ejb/nbproject/private/
/nbproject/private/
/GestionMagasin-war/nbproject/private/
/GestionMagasin-war/nbproject/private/
/GestionMagasin-ejb/nbproject/private/
/nbproject/private/
/GestionMagasin-ejb/build/
/GestionMagasin-ejb/dist/